body {
  background-image: url("https://t3.ftcdn.net/jpg/06/15/41/74/360_F_615417466_jkCo4nh3xCsl6U9XCjwZw2bmDPgMxmSA.jpg");
  background-color: hsla(236, 75%, 27%, 0.493);
  background-blend-mode: overlay;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  font-family: Georgia, serif;
}

html{
  height: 100%;
  width: 100%;
}

h2{
  color: rgb(250, 234, 65);
  font-family: "DynaPuff", system-ui;
  font-size:xx-large;
}



#myCanvas2 {
  background-color: blue;
  border: 3px solid rgb(250, 234, 65);
  border-radius: 35px;
}


